* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body{
    padding: 1em;
}

.profilePic{
    border-radius: 50%;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    justify-content: space-evenly;
}
